@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-medium: #ced4da;
  --color-light: #f1f3f5;
  --color-dark: #495057;

  --color-theme: #240046;
  --color-light-chosen: #e0aaff;
}

body {
  color: var(--color-light);
  background-color: var(--color-theme);
}

header {
  font-family: "Delicious Handrawn", serif;
  font-weight: 400;
  text-align: center;
  margin-top: 5rem;
  font-size: 4.5rem;
}
